<h1>User Details</h1>
<br>

<table>

  <tr>
    <th width = 200>User Name</th>
    <th width = 400>User Email</th>
    <th width = 400>Birth Day</th>
    <th width = 400>Account Creation Date</th>

  </tr>


  <tr>
    <td align="center"><%= @user.full_name %></td>
    <td align="center"><%= @user.email %></td>
    <td align="center"><%= @user.birthday %></td>
    <td align="center"><%= @user.created_at %></td>
  </tr>

</table>